

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
}

.navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 7, 80);
    color: aliceblue;

}

.title
{
    font-size: 1.5rem;
}